Radio High Energy Pulsars collected by @Ginna Mystica, Catherine,Ashwin

In [5]:
import pandas as pd
import numpy as np
import math
G={'Name of pulsar':['J0205+6449','J0218+4232','J0437-4715','J0534+2200','J1105-6107','J1124-5916','J1617-5055','J1930+1852','J2124-3358','J2229+6114'],'po':[0.06571592849324,0.00232309053151224,0.005757451936712637,0.0333924123,0.0632021309179,0.13547685441,0.069356847,0.136855046957,0.00493111494309662,0.05162357393],'pdot':[1.93754256e-13,7.73955e-20,5.729215e-20,4.20972e-13,1.584462e-14,7.52566e-13,1.351e-13,7.5057e-13,2.05705e-20,7.827e-14],'D in Kpc':[3.200,3.150,0.157,2.000,2.360, 5.000, 4.743, 7.000, 0.410, 3.000],'Age':[5.37e+03,4.76e+08,1.59e+09,1.26e+03,6.32e+04,2.85e+03, 8.13e+03, 2.89e+03, 3.8e+09, 1.05e+04],'R_L':['NaN',466.36,13.52,2200.00,'NaN','NaN','NaN','NaN', 2.86, 13.50],'B_s':[3.61e+12,4.29e+08,4.29e+08,3.79e+12,1.01e+12,1.02e+13,3.1e+12,1.03e+13,3.22e+08,2.03e+12],
'Edot':[2.7e+37,2.4e+35,1.2e+34,4.5e+38,2.5e+36,1.2e+37,1.6e+37,1.2e+37,6.8e+33,2.2e+37],
'Edot2':[2.6e+36,2.5e+34,4.8e+35,1.1e+38,4.4e+35,4.8e+35,7.1e+35,2.4e+35,2.4e+35,2.5e+36],
'B_sI':[3.61e+12,4.27e+08,2.85e+08,3.79e+12,'NaN','NaN','NaN','NaN', 1.92e+08,'NaN'],
'B_Lc':[1.19e+05,3.21e+05,2.85e+04,9.55e+05,3.76e+04,3.85e+04, 8.70e+04, 3.75e+04, 2.52e+04, 1.39e+05]}
l=pd.DataFrame(G)
l.to_csv('High_energy_pulsar.csv')
l

,Name of pulsar,po,pdot,D in Kpc,Age,R_L,B_s,Edot,Edot2,B_sI,B_Lc
0,J0205+6449,0.065716,1.937543e-13,3.200,5.370000e+03,NaN,3.610000e+12,2.700000e+37,2.600000e+36,3.61e+12,119000.0
1,J0218+4232,0.002323,7.739550e-20,3.150,4.760000e+08,466.36,4.290000e+08,2.400000e+35,2.500000e+34,4.27e+08,321000.0
2,J0437-4715,0.005757,5.729215e-20,0.157,1.590000e+09,13.52,4.290000e+08,1.200000e+34,4.800000e+35,2.85e+08,28500.0
3,J0534+2200,0.033392,4.209720e-13,2.000,1.260000e+03,2200,3.790000e+12,4.500000e+38,1.100000e+38,3.79e+12,955000.0
4,J1105-6107,0.063202,1.584462e-14,2.360,6.320000e+04,NaN,1.010000e+12,2.500000e+36,4.400000e+35,NaN,37600.0
5,J1124-5916,0.135477,7.525660e-13,5.000,2.850000e+03,NaN,1.020000e+13,1.200000e+37,4.800000e+35,NaN,38500.0
6,J1617-5055,0.069357,1.351000e-13,4.743,8.130000e+03,NaN,3.100000e+12,1.600000e+37,7.100000e+35,NaN,87000.0
7,J1930+1852,0.136855,7.505700e-13,7.000,2.890000e+03,NaN,1.030000e+13,1.200000e+37,2.400000e+35,NaN,37500.0
8,J2124-3358,0.004931,2.057050e-20,0.410,3.800000e+09,2.86,3.220000e+08,6.800000e+33,2.400000e+35,1.92e+08,25200.0
9,J2229+6114,0.051624,7.827000e-14,3.000,1.050000e+04,13.5,2.030000e+12,2.200000e+37,2.500000e+36,NaN,139000.0

Non Radio Pulsars collected by@Anjali Shivani, Ashwin

In [6]:
import pandas as pd
import numpy as np
import math
A={'Name of pulsar':['J0537-6910','J0633+1746','J0543+2329','J1811-1925','J1846-0258','J0628+0909','J0633+1746','J0636-4549','J1811-4930','J1812-1718'],'po':[0.0161222220245,0.2370994416923,0.245983683333,0.06466700,0.32657128834,3.763733080,0.2370994416923,1.98459736713,1.4327041968,1.20537444137],'pdot':[5.1784338e-14,1.097087e-14,1.541956e-14,4.40e-14,7.107450e-12,0.5479e-15,1.097087e-14,3.1722e-15,2.254e-15,1.9077e-14],'D in Kpc':[49.700,0.190,1.565,5.000,5.800,1.771,0.190,0.383,1.447,3.678],'R_L':['NaN','NaN',71.03,'NaN','NaN','NaN','NaN','NaN','NaN','NaN'],'Age':[4.93e+03,3.42e+05,2.53e+05,2.33e+04,728,3.59e+07,3.42e+05,9.91e+06,1.01e+07,1e+06],'B_s':[9.25e+11,1.63e+12,1.97e+12,1.71e+12,4.88e+13,8.35e+11,1.63e+12,2.54e+12,1.82e+12,4.85e+12],'Edot':[4.9e+38,3.2e+34,4.1e+34,6.4e+36,8.1e+36,1.1e+31,3.2e+34,1.6e+31,3.0e+31,4.3e+32],'Edot2':[2.0e+35,9.0e+35,1.7e+34,2.6e+35,2.4e+35,3.6e+30,9.0e+35,1.1e+32,1.4e+31,3.2e+31],'B_sI':['NaN',1.63e+12,1.97e+12,'NaN','NaN','NaN',1.63e+12,'NaN','NaN','NaN'],'B_Lc':[2.07e+06,1.15e+03,1.24e+03,5.92e+04,1.31e+04,4.09e+00,1.15e+03,3.05e+00,5.80e+00,2.60e+01]}
p=pd.DataFrame(A)
p.to_csv('Non_Radio_pulsar.csv')
p

,Name of pulsar,po,pdot,D in Kpc,R_L,Age,B_s,Edot,Edot2,B_sI,B_Lc
0,J0537-6910,0.016122,5.178434e-14,49.700,NaN,4930.0,9.250000e+11,4.900000e+38,2.000000e+35,NaN,2070000.00
1,J0633+1746,0.237099,1.097087e-14,0.190,NaN,342000.0,1.630000e+12,3.200000e+34,9.000000e+35,1.63e+12,1150.00
2,J0543+2329,0.245984,1.541956e-14,1.565,71.03,253000.0,1.970000e+12,4.100000e+34,1.700000e+34,1.97e+12,1240.00
3,J1811-1925,0.064667,4.400000e-14,5.000,NaN,23300.0,1.710000e+12,6.400000e+36,2.600000e+35,NaN,59200.00
4,J1846-0258,0.326571,7.107450e-12,5.800,NaN,728.0,4.880000e+13,8.100000e+36,2.400000e+35,NaN,13100.00
5,J0628+0909,3.763733,5.479000e-16,1.771,NaN,35900000.0,8.350000e+11,1.100000e+31,3.600000e+30,NaN,4.09
6,J0633+1746,0.237099,1.097087e-14,0.190,NaN,342000.0,1.630000e+12,3.200000e+34,9.000000e+35,1.63e+12,1150.00
7,J0636-4549,1.984597,3.172200e-15,0.383,NaN,9910000.0,2.540000e+12,1.600000e+31,1.100000e+32,NaN,3.05
8,J1811-4930,1.432704,2.254000e-15,1.447,NaN,10100000.0,1.820000e+12,3.000000e+31,1.400000e+31,NaN,5.80
9,J1812-1718,1.205374,1.907700e-14,3.678,NaN,1000000.0,4.850000e+12,4.300000e+32,3.200000e+31,NaN,26.00

Magnetors collected by@Ram Kumar, Aniket

In [3]:
import pandas as pd
import numpy as np
import math
R={'Name of pulsar':['J0100-7211','J0525-6607','J1708-4008','J1808-2024','J1809-1943','J1841-0456','J1907+0919','J2301+5852','J1745-2900','J0525-6607'],'po':[8.020392, 0.35443759451370,11.0062624,7.55592,5.540742829,11.7889784, 5.198346,6.9790709703,3.763733080,8.0470],'pdot':[1.88e-11, 7.36052e-17,1.960e-11,5.49e-10,2.8281e-12,4.092e-11,9.2e-11,4.7123e-13,1.756e-11,6.5e-11],'D in Kpc':[59.700, 1.841,3.800,13.000,3.600,9.600,'NaN',3.300,8.300,'NaN'],'R_L':['NaN', 66.09,'NaN','NaN','NaN','NaN','NaN','NaN','NaN','NaN'],'Age':[6.76e+03,7.63e+07,8.9e+03,218,3.1e+04,4.57e+03,895,2.35e+05,3.4e+03,1.96e+03],'B_s':[3.93e+14,1.63e+11,4.7e+14,2.06e+15,1.27e+14,7.03e+14,7e+14,5.8e+13,2.6e+14,7.32e+14],'Edot':[1.4e+33,6.5e+31,5.8e+32,5.0e+34,6.6e+32,9.9e+32,2.6e+34,5.5e+31,1.3e+34,4.9e+33],'Edot2':[4.0e+29,1.9e+31,4.0e+31,3.0e+32,5.1e+31,1.1e+31,'NaN',5.0e+30,1.9e+32,'NaN'],'B_sI':['NaN', 1.62e+11,'NaN',2.06e+15, 1.27e+14,'NaN','NaN', 5.80e+13,2.60e+14,'NaN'],'B_Lc':[7.14e+00,3.44e+01,3.30e+00,4.48e+01,6.98e+00,4.02e+00,4.67e+01,1.60e+00,4.57e+01,1.32e+01]}
c=pd.DataFrame(R)
c.to_csv('magnetor_pulsar.csv')
c

,Name of pulsar,po,pdot,D in Kpc,R_L,Age,B_s,Edot,Edot2,B_sI,B_Lc
0,J0100-7211,8.020392,1.880000e-11,59.7,NaN,6760.0,3.930000e+14,1.400000e+33,4e+29,NaN,7.14
1,J0525-6607,0.354438,7.360520e-17,1.841,66.09,76300000.0,1.630000e+11,6.500000e+31,1.9e+31,1.62e+11,34.40
2,J1708-4008,11.006262,1.960000e-11,3.8,NaN,8900.0,4.700000e+14,5.800000e+32,4e+31,NaN,3.30
3,J1808-2024,7.555920,5.490000e-10,13,NaN,218.0,2.060000e+15,5.000000e+34,3e+32,2.06e+15,44.80
4,J1809-1943,5.540743,2.828100e-12,3.6,NaN,31000.0,1.270000e+14,6.600000e+32,5.1e+31,1.27e+14,6.98
5,J1841-0456,11.788978,4.092000e-11,9.6,NaN,4570.0,7.030000e+14,9.900000e+32,1.1e+31,NaN,4.02
6,J1907+0919,5.198346,9.200000e-11,NaN,NaN,895.0,7.000000e+14,2.600000e+34,NaN,NaN,46.70
7,J2301+5852,6.979071,4.712300e-13,3.3,NaN,235000.0,5.800000e+13,5.500000e+31,5e+30,5.8e+13,1.60
8,J1745-2900,3.763733,1.756000e-11,8.3,NaN,3400.0,2.600000e+14,1.300000e+34,1.9e+32,2.6e+14,45.70
9,J0525-6607,8.047000,6.500000e-11,NaN,NaN,1960.0,7.320000e+14,4.900000e+33,NaN,NaN,13.20

Main code(high pulsar + Non Radio + Magnetors)

In [7]:
o=pd.concat([l,p,c],ignore_index=True)
o.to_csv('Combined_data.csv')
o

,Name of pulsar,po,pdot,D in Kpc,Age,R_L,B_s,Edot,Edot2,B_sI,B_Lc
0,J0205+6449,0.065716,1.937543e-13,3.2,5.370000e+03,NaN,3.610000e+12,2.700000e+37,2.6e+36,3.61e+12,119000.00
1,J0218+4232,0.002323,7.739550e-20,3.15,4.760000e+08,466.36,4.290000e+08,2.400000e+35,2.5e+34,4.27e+08,321000.00
2,J0437-4715,0.005757,5.729215e-20,0.157,1.590000e+09,13.52,4.290000e+08,1.200000e+34,4.8e+35,2.85e+08,28500.00
3,J0534+2200,0.033392,4.209720e-13,2,1.260000e+03,2200,3.790000e+12,4.500000e+38,1.1e+38,3.79e+12,955000.00
4,J1105-6107,0.063202,1.584462e-14,2.36,6.320000e+04,NaN,1.010000e+12,2.500000e+36,4.4e+35,NaN,37600.00
5,J1124-5916,0.135477,7.525660e-13,5,2.850000e+03,NaN,1.020000e+13,1.200000e+37,4.8e+35,NaN,38500.00
6,J1617-5055,0.069357,1.351000e-13,4.743,8.130000e+03,NaN,3.100000e+12,1.600000e+37,7.1e+35,NaN,87000.00
7,J1930+1852,0.136855,7.505700e-13,7,2.890000e+03,NaN,1.030000e+13,1.200000e+37,2.4e+35,NaN,37500.00
8,J2124-3358,0.004931,2.057050e-20,0.41,3.800000e+09,2.86,3.220000e+08,6.800000e+33,2.4e+35,1.92e+08,25200.00
9,J2229+6114,0.051624,7.827000e-14,3,1.050000e+04,13.5,2.030000e+12,2.200000e+37,2.5e+36,NaN,139000.00
10,J0537-6910,0.016122,5.178434e-14,49.7,4.930000e+03,NaN,9.250000e+11,4.900000e+38,2e+35,NaN,2070000.00
11,J0633+1746,0.237099,1.097087e-14,0.19,3.420000e+05,NaN,1.630000e+12,3.200000e+34,9e+35,1.63e+12,1150.00
12,J0543+2329,0.245984,1.541956e-14,1.565,2.530000e+05,71.03,1.970000e+12,4.100000e+34,1.7e+34,1.97e+12,1240.00
13,J1811-1925,0.064667,4.400000e-14,5,2.330000e+04,NaN,1.710000e+12,6.400000e+36,2.6e+35,NaN,59200.00
14,J1846-0258,0.326571,7.107450e-12,5.8,7.280000e+02,NaN,4.880000e+13,8.100000e+36,2.4e+35,NaN,13100.00
15,J0628+0909,3.763733,5.479000e-16,1.771,3.590000e+07,NaN,8.350000e+11,1.100000e+31,3.6e+30,NaN,4.09
16,J0633+1746,0.237099,1.097087e-14,0.19,3.420000e+05,NaN,1.630000e+12,3.200000e+34,9e+35,1.63e+12,1150.00
17,J0636-4549,1.984597,3.172200e-15,0.383,9.910000e+06,NaN,2.540000e+12,1.600000e+31,1.1e+32,NaN,3.05
18,J1811-4930,1.432704,2.254000e-15,1.447,1.010000e+07,NaN,1.820000e+12,3.000000e+31,1.4e+31,NaN,5.80
19,J1812-1718,1.205374,1.907700e-14,3.678,1.000000e+06,NaN,4.850000e+12,4.300000e+32,3.2e+31,NaN,26.00
20,J0100-7211,8.020392,1.880000e-11,59.7,6.760000e+03,NaN,3.930000e+14,1.400000e+33,4e+29,NaN,7.14
21,J0525-6607,0.354438,7.360520e-17,1.841,7.630000e+07,66.09,1.630000e+11,6.500000e+31,1.9e+31,1.62e+11,34.40
22,J1708-4008,11.006262,1.960000e-11,3.8,8.900000e+03,NaN,4.700000e+14,5.800000e+32,4e+31,NaN,3.30
23,J1808-2024,7.555920,5.490000e-10,13,2.180000e+02,NaN,2.060000e+15,5.000000e+34,3e+32,2.06e+15,44.80
24,J1809-1943,5.540743,2.828100e-12,3.6,3.100000e+04,NaN,1.270000e+14,6.600000e+32,5.1e+31,1.27e+14,6.98
25,J1841-0456,11.788978,4.092000e-11,9.6,4.570000e+03,NaN,7.030000e+14,9.900000e+32,1.1e+31,NaN,4.02
26,J1907+0919,5.198346,9.200000e-11,NaN,8.950000e+02,NaN,7.000000e+14,2.600000e+34,NaN,NaN,46.70
27,J2301+5852,6.979071,4.712300e-13,3.3,2.350000e+05,NaN,5.800000e+13,5.500000e+31,5e+30,5.8e+13,1.60
28,J1745-2900,3.763733,1.756000e-11,8.3,3.400000e+03,NaN,2.600000e+14,1.300000e+34,1.9e+32,2.6e+14,45.70
29,J0525-6607,8.047000,6.500000e-11,NaN,1.960000e+03,NaN,7.320000e+14,4.900000e+33,NaN,NaN,13.20